[user]
	name = ealexandrohin
	email = ealexandrohin@gmail.com
	signingkey = 24E69ABDE842C934
[credential]
	helper = store
[core]
	editor = nvim
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[pull]
	ff = only
[submodule]
	recurse = true
[format]
	signOff = true

[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[includeIf "gitdir:~/w/"]
    path = .gitconfig.work
[includeIf "gitdir:~/u/"]
    path = .gitconfig.uni
