[user]
	name = ealexandrohin
	email = ealexandrohin@gmail.com
	signingkey = E7CC2FF93C377CC2D85A771E028B8C15F55A43C6
[credential]
	helper = store
[init]
	defaultBranch = main
[core]
	editor = nvim
[commit]
	gpgsign = true
[pull]
	ff = only
[submodule]
	recurse = true

[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[includeIf "gitdir:~/w/"]
    path = .gitconfig.work
[includeIf "gitdir:~/u/"]
    path = .gitconfig.uni
