[user]
	name = ealexandrohin
	email = ealexandrohin@gmail.com
[credential]
	helper = store
[init]
	defaultBranch = main
[core]
	editor = nvim
[pull]
	ff = only

[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[includeIf "gitdir:~/w/"]
    path = .gitconfig.work
[includeIf "gitdir:~/u/"]
    path = .gitconfig.uni
