*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

**

!/.aur/
!/.aur/.aur
!/.aur/PKGBUILD

!/.config/

!/.config/alacritty/
!/.config/alacritty/alacritty.toml
!/.config/alacritty/themes/
!/.config/alacritty/themes/hyper.toml

!/.config/btop/
!/.config/btop/btop.conf
!/.config/btop/themes/
!/.config/btop/themes/catppuccin_mocha.theme

!/.config/clipse/
!/.config/clipse/config.json

!/.config/flameshot/
!/.config/flameshot/flameshot.ini

!/.config/hypr/
!/.config/hypr/hyprland.conf
!/.config/hypr/hyprlock.conf
!/.config/hypr/hyprpaper.conf
!/.config/hypr/wallpaper/
!/.config/hypr/wallpaper/*

!/.config/ly/
!/.config/ly/config.ini

!/.config/neovim/
!/.config/neovim/lua/
!/.config/neovim/lua/plugins/
!/.config/neovim/lua/plugins/config.lua

!/.config/mako/
!/.config/mako/config

!/.config/tofi/
!/.config/tofi/config

!/.config/yazi/
!/.config/yazi/theme.toml
!/.config/yazi/yazi.toml
!/.config/yazi/syntax.tmTheme

!/.deps/
!/.deps/.deps
!/.deps/PKGBUILD

!/.gitconfig
