*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

**

!/.aur/
!/.aur/.aur
!/.aur/PKGBUILD

!/.config/

!/.config/alacritty/
!/.config/alacritty/alacritty.toml
!/.config/alacritty/themes/
!/.config/alacritty/themes/hyper.toml

!/.config/btop/
!/.config/btop/btop.conf

!/.config/clipse/
!/.config/clipse/config.json
!/.config/clipse/custom_theme.json

!/.config/flameshot/
!/.config/flameshot/flameshot.ini

!/.config/hypr/
!/.config/hypr/hyprland.conf
!/.config/hypr/hyprlock.conf
!/.config/hypr/hyprpaper.conf

!/.config/ly/
!/.config/ly/config.ini

!/.config/mako/
!/.config/mako/config

!/.config/tofi/
!/.config/tofi/config

!/.config/yazi/
!/.config/yaxi/keymap.toml
!/.config/yazi/theme.toml
!/.config/yazi/yazi.toml

!/.deps/
!/.deps/.deps
!/.deps/PKGBUILD
